body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.react-flow__node {
    /*z-index: 0 !important;*/
    cursor: default !important;
}

.drag-handle__mover {
    z-index: 0 !important;
    cursor: grab;
}